@font-face {
    font-family: Inter;
    src: url(./Inter-VariableFont_slnt\,wght.ttf);
}

html{
    font-family: Inter
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1000px;
    /* margin-top: -20vh; */
   
}

.main{
    
    
   
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.field{
    width: 100%;
    height: 32px;
    font-size: 32px;
    border: 1px solid rgb(114, 114, 114) ;
    border-radius: 8px;
    margin:10px;

}

#fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#formula-root{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
}

#button{
    height: 35px;
    background-color: #3184FF;
    border: 2px solid transparent;
    border-radius: 8px;
    color: white;
    width: 100%;
   
}

#button:hover{
    background-color: #3183ffad;
}

#F{
    margin: 20px 0;
    
    font-size: 35px;
    padding: 0 20px;
    
}





